
html {
  font-size: 10px;
}

body {
  font-size: 14px;
  line-height: 1.42857143;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

td, th {
  padding: 0;
}

input[type="radio"], input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px;
  line-height: normal;
}

input[type="file"] {
  cursor: pointer;
  color: white;
}
label {
  color: white;
}

#downloadImageButton, #saveSuccess, #saveFailure {
  display: none;
}


* {
  box-sizing: border-box;
}
